<!DOCTYPE html>
<html lang="en">
<head>
<title>Battle</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/css/stdDesign.css" rel="stylesheet">
</head>
<body>



<div class="content">
  <h1>Welcome to the Battle Royale! Click on "Round Results" for the winners from each round, "Play-By-Play Results" for the details from each round,
  and "Kill Counts" for total kills by player</h1>
  <img src="/static/images/shield.png" alt="shield" id="shield">
</div>


<div class="sideNav">
  <a href="http://127.0.0.1:8080/index">Home</a>
  <a href="http://127.0.0.1:8080/roundResults">Rounds Results</a>
  <a href="http://127.0.0.1:8080/battleResults">Kill Counts</a>
  <a href="http://127.0.0.1:8080/roundDescriptions">Play-By-Play Results</a>
</div>



</body>
</html>
