<!DOCTYPE html>
<html lang="en">
<head>
<title>Battle</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/css/stdDesign.css" rel="stylesheet">
</head>

<body>
  <div class = "content" id="content">
    <h2> Play-By-Play Results </h2>
    <div id="battleHeaders"> Battle {{letters[battleCounter]}}! </div>
    <br>

    {% for round in descResults %}

      {% if counter == 4 %}
        {% set counter = 0 %}
        {% set battleCounter = battleCounter+1 %}
        <div id="battleHeaders"> Battle {{letters[battleCounter]}}! </div>
        <br>
      {% endif %}

      <div id="roundHeaders2"> Round {{loop.index}}</div>
      <br>
      {% for statementTup in round %}
          {% if statementTup[3] == "None" or statementTup[4]== "None" %}
            <div class="statement">
              {{statementTup[5]}}
            </div>
            {% if loop.index == 1 %}
                <br>
            {% endif %}
          {% else %}
              {% if ((playerOne != statementTup[3] and playerOne != statementTup[4]) or  (playerTwo != statementTup[4] and playerTwo != statementTup[3])) or loop.index == 1%}
                  {% set playerOne = statementTup[3] %}
                  {% set playerTwo = statementTup[4] %}

                <div id="matchHeaders"> {{ playerOne }} vs. {{ playerTwo }} </div>
                <br>

              {% endif %}

            <div class="statement">
              {{statementTup[5]}}
            </div>

          {% endif %}

      {% endfor %}

      {% set counter = counter+1 %}
        <br>
    {% endfor %}
  </div>


  <div class="sideNav">
    <a href="http://127.0.0.1:8080/index">Home</a>
    <a href="http://127.0.0.1:8080/roundResults">Rounds Results</a>
    <a href="http://127.0.0.1:8080/battleResults">Kill Counts</a>
    <a href="http://127.0.0.1:8080/roundDescriptions">Play-By-Play Results</a>
  </div>


</body>
</html>
