<!DOCTYPE html>
<html lang="en">
<head>
<title>Battle</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<<link href="/static/css/stdDesign.css" rel="stylesheet">
</head>

<body>
  <div class = "content" id="content">
    <table>
      <h2> Round Results </h2>
      <tr id = "headers">
        <th> Player </th>
        <th> Killed By </th>
      </tr>
      {% for round in killedByResults %}
      <tbody class = "tableBody">
        <tr>
          <td id="roundHeaders"> Round {{loop.index}} </td>
        <tr>
        {% for pair in round %}
        <tr id = "tableContent">
          <td> {{pair[1]}} </td>
          <td> {{pair[0]}} </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endfor %}
    </table>
    <div id="winner"> Winner: {{winner}} </div>
  </div>


  <div class="sideNav">
    <a href="http://127.0.0.1:8080/index">Home</a>
    <a href="http://127.0.0.1:8080/roundResults">Rounds Results</a>
    <a href="http://127.0.0.1:8080/battleResults">Kill Counts</a>
  </div>



</body>
</html>
